@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: 'VT323';
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'VT323';
  font-size: 40px;
  color: white;
  text-align: center;
}

/* Animations */

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}


/* Styles */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 20px;
  overflow-y: auto;
}

.score {
  font-size: 72px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.high-score {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.flash {
  animation: flash 1s linear 0s infinite forwards;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #222222;
  border: 2px solid #FFFFFF;
  box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 0.50);
  justify-content: center;
  padding: 12px;
  border-radius: 4px;
}

.modal_restart {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #222222;
  border: 2px solid #FFFFFF;
  box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 0.50);
  justify-content: center;
  padding: 12px;
  border-radius: 4px;
}

#modal_start {
  width: 600px;
  height: 240px;
}

#modal_end {
  width: 300px;
  height: 200px;
}

.instructions {
  color: #fff;
  font-size: 28px;
  margin: 20;
}

.btn_primary {
  --bg: #101010;
  --hover-bg: #38e490;
  --hover-text: #101010;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  font-family: 'VT323';
  margin: 20px auto;
  display: block;
  align-self: center;
  width: 120px;
  height: auto;
  text-align: center;
}

.btn_primary:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.btn_primary:active {
  transform: translate(0);
  box-shadow: none;
}

#btn_restart {
  margin-top: 0px;
}

.hidden {
  display: none;
}

.btn_power {
  --bg: #222222;
  --hover-bg: #38e490;
  --hover-text: #222222;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  font-family: 'VT323';
  margin: 20px auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.btn_power:hover {
  color: var(--hover-text);
  background: var(--hover-bg);
}