@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: 'VT323';
  overflow: hidden;
  background-color: #101010;
}

h1 {
  font-size: 32px;
  color: #FFFFFF;
}

.container {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-left {
  background: #222222;
  width: 800px;
  text-align: center;
  border-radius: 4px;
  position: relative;
}

.form-left img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
}

.form-right {
  background: #222222;
  padding: 40px;
  width: 200px;
  text-align: center;
  border-radius: 4px;
}

.button {
  --bg: #101010;
  --hover-bg: #38e490;
  --hover-text: #101010;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  font-family: VT323;
  margin: 20px;
  width: 120px;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
